name: Docker Build

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # 必须添加此权限以允许推送到 GHCR

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to GitHub Container Registry
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          provenance: false
          tags: |
            ghcr.io/kigland/blender:4.5.3-cuda12.8.1
          build-args: |
            BLENDER_VERSION=4.5.3
            UBUNTU_CUDA_VERSION=12.8.1-cudnn-devel-ubuntu24.04
          cache-from: type=gha,scope=build-cache
          cache-to: type=gha,mode=max,scope=build-cache
